<style>
  * {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37358C;
    color: white;
  }

  nav {
    width: 1000px;
  }

  nav h2 {
    font-size: 20px;
    font-style: italic;
  }

  .aaa p {
    font-size: 16px;
  }

  .aaa h3 {
    font-size: 22px;
  }

  .ccc {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
  }
</style>
<header>
  <nav>
    <h2>Kangarooo★</h2>
  </nav>
</header>
<section style="display: flex; justify-content: space-between; margin: 30px 5%; width: 90%;">
<div style="width: 20%; border: 1px solid lightgray; border-radius: 5px; box-sizing: border-box; height: 210px;">
  <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/events">開催日管理</a></p>
  <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/cars">未出品車両管理</a></p>
  <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/users">会員管理</a></p>
  <p><a style="display: flex; align-items: center; padding: 0px 20px; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/sales">販売管理</a></p>
</div>
<div style="width: 75%;">
  <h2 style="padding-bottom: 10px; padding-top: 10px; font-size: 20px;">出品</h2>
  <div style="border: 1px solid gray; border-radius: 5px; padding: 20px 20px;">
    <% if (data.start_time==null) { %>
      <p style="color: red; font-size: 16px; font-weight: 600; padding-bottom: 10px;">未出品</p>
      <% } else { %>
        <div style="display: flex; padding-bottom: 10px;">
          <p style="font-size: 16px;">
            開始時間<%= data.start_time?.toLocaleDateString() + " " + data.start_time?.getHours().toString().padStart(2, '0'
              ) + ":" + data.start_time?.getMinutes().toString().padStart(2, '0' )%> <br>
              終了時間<%= data.end_time?.toLocaleDateString() + " " + data.end_time?.getHours().toString().padStart(2, '0' )
                + ":" + data.end_time?.getMinutes().toString().padStart(2, '0' )%> <br>
          </p>
        </div>
        <% } %>
          <div class="aaa">
            <h3 style="padding-bottom: 15px;">
              <%= data.car_model_name%>
            </h3>
            <div class="ccc">
              <div class="bbb">
                <p>
                  ボディタイプ : <%= data.bodytype_name%>
                </p>
                <p>
                  走行 : <%= data.mileage_situation%>
                </p>
              </div>
              <div class="bbb">
                <p>
                  乗客数 : <%= data.number_passengers%>
                </p>
                <p>
                  修復歴 : <%= data.repair_history%>
                </p>
              </div>
              <div class="bbb">
                <p>
                  車検有効期限 : <%= data.car_inspection_expiration_date?.toLocaleDateString()%>
                </p>
                <p>
                  走行距離 : <%= data.mileage%>
                </p>
              </div>
            </div>
            <p style="font-weight: 600; font-size: 15px; padding-top: 15px;">
              入札開始額 : <span style="font-size: 20px;">
                <%= data.lowest_winning_bid%>円
              </span>
            </p>
          </div>
          <form action="/admin/cars/<%= data.car_id%>/register/" method="post" onsubmit="return beforeSubmit()">
            <div style="display: flex;">
              <div style="display: flex; align-items: center;">
                <p style="font-size: 14px; padding-right: 10px;">開催日</p>
                <select name="event_date_id" id="" style="padding: 5px 20px; margin: 5px 0px;">
                  <% for (let eventDate of eventDateList) { %>
                    <option value="<%= eventDate.id %>">
                      <%= eventDate.event_date.toLocaleDateString() %>
                    </option>
                    <% } %>
                </select>
              </div>
              <div style="display: flex; align-items: center;"><p style="padding-right: 10px; font-size: 15px;">開始時間</p><input style="padding-left: 20px; padding-right: 20px;" type="time" name="start_time"></div>
              <div style="display: flex; align-items: center;"><p style="padding-right: 10px; font-size: 15px;">終了時間</p><input style="padding-left: 20px; padding-right: 20px;" type="time" name="end_time"></div>
            </div>
              <div style="font-size: 20px; font-weight: 600; display: flex; margin-top: 10px;"><div style="padding-right: 10px;">開始価格</div><input type="number" name="lowest_winning_bid">円</div>
            <button type="submit" style="padding: 3px 30px; margin-top: 20px;">出品</button>
          </form>

          <form action="/admin/cars/<%= data.car_id%>/cancel/" method="post" onsubmit="return beforeCancel()">
            <button type="submit" style="padding: 3px 30px; margin-top: 10px;">出品取り消し</button>
          </form>
    </div>
  </div>
</section>

<script>
  function beforeSubmit() {
    if (window.confirm('この内容で出品しますがよろしいでしょうか？')) {
      return true;
    } else {
      return false;
    }
  }
  function beforeCancel() {
    if (window.confirm('出品を取り下げてもよろしいでしょうか？')) {
      return true;
    } else {
      return false;
    }
  }
</script>