<div style="width: 500px; margin: 0 auto;">
  <h2>出品</h2>
  <% if (data.start_time==null) { %>
    <p>未出品</p>
    <% } else { %>
      <div style="display: flex;">
        <p>
          <%= data.start_time?.toLocaleDateString() + " " + data.start_time?.getHours().toString().padStart(2, '0' ) + ":" +
            data.start_time?.getMinutes().toString().padStart(2, '0' )%> - <%= data.end_time?.toLocaleDateString() + " " + data.end_time?.getHours().toString().padStart(2, '0' ) + ":" +
            data.end_time?.getMinutes().toString().padStart(2, '0' )%>
        </p>
      </div>
      <% } %>
        <h3>
          <%= data.car_model_name%>
        </h3>
        <p>
          ボディタイプ : <%= data.bodytype_name%>
        </p>
        <p>
          走行 : <%= data.mileage_situation%>
        </p>
        <p>
          乗客数 : <%= data.number_passengers%>
        </p>
        <p>
          修復歴 : <%= data.repair_history%>
        </p>
        <p>
          車検有効期限 : <%= data.car_inspection_expiration_date?.toLocaleDateString()%>
        </p>
        <p>
          走行距離 : <%= data.mileage%>
        </p>
        <p>
          入札開始額 : <%= data.lowest_winning_bid%>
        </p>
        <form action="/admin/cars/<%= data.car_id%>/register/" method="post" onsubmit="return beforeSubmit()">
          <select name="event_date_id" id="">
            <% for (let eventDate of eventDateList) { %>
              <option value="<%= eventDate.id %>">
                <%= eventDate.event_date.toLocaleDateString() %>
              </option>
              <% } %>
          </select><br>
          開始時間<input type="time" name="start_time">
          終了時間<input type="time" name="end_time"><br>
          開始価格<input type="number" name="lowest_winning_bid">円<br>
          <button type="submit">出品</button>
        </form>
</div>

      <script>
        function beforeSubmit() {
          if (window.confirm('この内容で送信しますがよろしいでしょうか？')) {
            return true;
          } else {
            return false;
          }
        }
      </script>