<p>車両情報</p>
<% if (data.start_time==null) { %>
  <p>未出品</p>
  <% } else { %>
    <p>
      <%= data.start_time?.toLocaleDateString() + " " + data.start_time?.getHours().toString().padStart(2, '0' ) + ":" +
        data.start_time?.getMinutes().toString().padStart(2, '0' )%>
    </p>
    <p>
      <%= data.end_time?.toLocaleDateString() + " " + data.end_time?.getHours().toString().padStart(2, '0' ) + ":" +
        data.end_time?.getMinutes().toString().padStart(2, '0' )%>
    </p>
    <% } %>
      <p>
        <%= data.car_model_name%>
      </p>
      <p>
        <%= data.bodytype_name%>
      </p>
      <p>
        <%= data.mileage_situation%>
      </p>
      <p>
        <%= data.number_passengers%>
      </p>
      <p>
        <%= data.repair_history%>
      </p>
      <p>
        <%= data.car_inspection_expiration_date?.toLocaleDateString()%>
      </p>
      <p>
        <%= data.mileage%>
      </p>
      <p>
        <%= data.lowest_winning_bid%>
      </p>