<style>
    * {
        margin: 0;
        padding: 0;
    }

    header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #37358C;
        color: white;
    }

    nav {
        width: 90%;
    }

    nav h2 {
        font-size: 20px;
        font-style: italic;
    }

    .aaa p {
        font-size: 16px;
    }

    .aaa h3 {
        font-size: 22px;
    }

    .ccc {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }
    .ddd{
        font-size: 13px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .eee{
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid lightgray;
    }
</style>
<header>
    <nav>
        <h2>Kangarooo★</h2>
    </nav>
</header>
<section style="display: flex; justify-content: space-between; margin: 30px 5%; width: 90%;">
    <div style="width: 20%; border: 1px solid lightgray; border-radius: 5px; box-sizing: border-box; height: 210px;">
        <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/events">開催日管理</a></p>
        <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/cars">未出品車両管理</a></p>
        <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/users">会員管理</a></p>
        <p><a style="display: flex; align-items: center; padding: 0px 20px; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/sales">販売管理</a></p>
    </div>
    <div style="width: 75%;">        
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <div style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
            <h2 style="font-size: 20px;">車両一覧</h2>
            <a style="display: block; background-color: #37358C; padding: 7px 30px; color: white; font-size: 16px; border-radius: 5px; font-weight: 600; text-decoration: none;" href="/admin/cars/register/">車両登録</a>
        </div>
    </div>
    <h3 style="font-size: 18px; padding-bottom: 15px;">
        <% if (eventDate.length> 0) { %>
            <%= eventDate[0].event_date.toLocaleDateString() %>
                <% } %>
    </h3>
    <% for (let value of carList) { %>
        <div style="border: solid 1px rgb(190, 190, 190); border-radius: 5px; padding: 0px 10px; width: 100%; margin-top: 0px; margin-bottom: 10px; margin-left: auto; margin-right: auto; box-sizing: border-box;">
            <div style="display: flex; justify-content: space-between; align-items: center;"> 
                <div style="display: flex; justify-content: space-between; align-items: center; width: 133px;">
                    <% if (value.start_time==null) { %>
                        <p style="color: red; font-size: 14px; font-weight: 500; padding-right: 20px;">未出品</p>
                        <% } else { %>
                            <p style="font-size: 16px;  text-align: center; padding-right: 20px;">
                                <%=
                                    value.start_time.getHours().toString().padStart(2, '0' ) + ":" +
                                    value.start_time.getMinutes().toString().padStart(2, '0' )%> 
                                    -
                                    <%=value.end_time.getHours().toString().padStart(2, '0' ) + ":" +
                                        value.end_time.getMinutes().toString().padStart(2, '0' )%>
                            </p>
                            <% } %>
                </div>
                <div style="width: 100px;"><img style="background-color: lightgray; width: 100px; height: 60px; object-fit: contain;" src="" alt=""></div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p style="font-weight: 600; font-size: 15px; width: 200px;">
                        <%= value.car_model_name%> - <%= value.bodytype_name%>
                    </p>
                </div>
                <div style="display: flex; align-items: center;">
                    <div style="font-size: 16px;" class="ccc">
                        <div class="eee">
                            <p class="ddd">
                                <% if (value.car_inspection_expiration_date==null) { %>
                                    車検有効期限 : 期限切れ
                                    <% } else { %>
                                        車検有効期限 : <%= value.car_inspection_expiration_date?.toLocaleDateString() %>
                                            <% } %>
                            </p>
                            <p class="ddd">
                                入札開始額 : <%= value.lowest_winning_bid%>円
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: end; align-items: center;">
                        <a style="font-weight: 600; font-size: 14px; padding: 10px 20px; border: 1px solid gray; margin-left: 10px; border-radius: 5px; color: black; text-decoration: none;"
                            href="/admin/cars/<%= value.car_id %>">編集</a>
                        <a style="font-weight: 600; font-size: 14px; padding: 10px 30px; border: 1px solid gray; margin-left: 10px; border-radius: 5px; color: black; text-decoration: none;"
                            href="/admin/cars/<%= value.car_id %>/register">出品</a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</section>