<!-- 車両登録画面 -->
<style>
  * {
      margin: 0;
      padding: 0;
  }

  header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #37358C;
      color: white;
  }

  nav {
      width: 90%;
  }

  nav h2 {
      font-size: 20px;
      font-style: italic;
  }

  .aaa p {
      font-size: 16px;
  }

  .aaa h3 {
      font-size: 22px;
  }

  .ccc {
      display: flex;
      justify-content: space-between;
      padding: 10px 0px;
  }
  td{
    font-size: 15px;
    width: 250px;
    padding-right: 25px;
    padding-top: 7px;
    margin-top: 10px;
    padding-bottom: 7px;
    border-top: lightgray 1px solid;
  }
  td input{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 13px;
  }
</style>
<header>
  <nav>
      <h2>Kangarooo★</h2>
  </nav>
</header>
<section style="display: flex; justify-content: space-between; margin: 30px 5%;">
  <div style="width: 20%; border: 1px solid lightgray; border-radius: 5px; box-sizing: border-box; height: 210px;">
    <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/cars">車両管理</a></p>
    <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/users">会員管理</a></p>
    <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/events">開催日管理</a></p>
    <p><a style="display: flex; align-items: center; padding: 0px 20px; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/sales">販売管理</a></p>
  </div>
  <div style=" width: 75%;">
    <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 20px;">

<form action="/admin/cars/register" method="post" enctype="multipart/form-data">
  <h1>車両登録</h1>
  <table>
    <tr>
      <td>メーカー名
        <select name="manufacturer_id">
          <option value="">メーカーを選択</option>
          <% for (let manufacturer of manufacturerList) { %>
            <option value="<%= manufacturer.id %>" <% if (manufacturer.id==2) { %>selected <% } %>
                >
                <%= manufacturer.manufacture_name %>
            </option>
            <% } %>
        </select>
      </td>
      <td>ミッション
        <select name="mission">
          <option value="">ミッションを選択</option>
          <option value="0">AT</option>
          <option value="1" selected>MT</option>
        </select>
      </td>
      <td>走行距離の状態<br><input type="text" name="mileage_situation" value="実走行"></td>
    </tr>
    <tr>
      <td>グレード名<br><input type="text" name="grade" value="16GT ターボ"></td>
      <td>色系統<br>
        <select name="color_id">
          <option value="">色を選択</option>
          <% for (let color of colorList) { %>
            <option value="<%= color.id %>" <% if (color.id==1) { %> selected <% } %>
                >
                <%= color.color_name %>
            </option>
            <% } %>
        </select>
      </td>
      <td>輸入車モデル年式<br><input type="text" name="imported_model_year" value="2001"></td>
    </tr>
    <tr>
      <td>年式<br><input type="text" name="model_year" value="2001"></td>
      <td>車歴<br><input type="text" name="history" value="自家用"></td>
      <td>色の名称<br><input type="text" name="color_detail"></td>
    </tr>
    <tr>
      <td>走行距離<br><input type="text" name="mileage" value="63"></td>
      <td>点検記録簿<br><input type="text" name="Inspection_record_book" value="あり"></td>
      <td>型式<br><input type="text" name="model" value="CBA-F15"></td>
    </tr>
    <tr>
      <td>輸入経路<br><input type="text" name="import_route" value="ディーラー車"></td>
      <td>乗車定員数<br><input type="text" name="number_passengers" value="4"></td>
      <td>リサイクル預託金<br><input type="text" name="recycling_deposit" value="12000"></td>
    </tr>
    <tr>
      <td>車台番号（下３桁）<br><input type="text" name="chassis_number" value="246"></td>
      <td>燃料<br>
        <select name="fuel">
          <option value="">燃料を選択</option>
          <option value="0">レギュラー</option>
          <option value="1" selected>ハイオク</option>
          <option value="2">軽油</option>
        </select>
      </td>
      <td>ハンドル<br>
        <select name="handle">
          <option value="">ハンドルを選択</option>
          <option value="0">右</option>
          <option value="1" selected>左</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>車検有効期限<br><input type="text" name="car_inspection_expiration_date" value="2025/11/23"></td>
      <td>修復歴<br><input type="text" name="repair_history" value="なし"></td>
      <td>所有者歴<br><input type="text" name="owner_history" value="複数オーナー"></td>
    </tr>
    <tr>
      <td>ボディタイプ<br>
        <select name="body_type_id">
          <option value="">ボディタイプを選択</option>
          <% for (let bodytype of bodytypeList) { %>
            <option value="<%= bodytype.id %>" <% if (bodytype.id==1) { %> selected <% } %>
                >
                <%= bodytype.bodytype_name %>
            </option>
            <% } %>
        </select>
      </td>
      <td>排気量<br><input type="text" name="displacement" value="2345"></td>
      <td>ドア数<br><input type="text" name="doors" value="2"></td>
    </tr>
    <tr>
      <td>車種名<br><input type="text" name="car_model_name" value="BMWm135i"></td>
      <td>駆動方式<br>
        <select name="drive_system">
          <option value="">駆動方式を選択</option>
          <option value="0">FF</option>
          <option value="1">FR</option>
          <option value="2" selected>4WD</option>
          <option value="3">MR</option>
          <option value="4">RR</option>
        </select>
      </td>
      <td>引き渡し条件<br><input type="text" name="delivery_conditions" value="現状引き渡し"></td>
    </tr>
    <tr>
      <td>車両の状態<br><input type="text" name="car_condition" value="良い"></td>
    </tr>
  </table>

  <table>
    <tr>
      <td>エアコン<br><input type="checkbox" name="air_conditioner" value="1" checked></td>
      <td>スマートキー<br><input type="checkbox" name="smart_key" value="1"></td>
      <td>サンルーフ<br><input type="checkbox" name="sunroof" value="1"></td>
    </tr>
    <tr>
      <td>パワステ<br><input type="checkbox" name="power_steering" value="1" checked></td>
      <td>DVDビデオ<br><input type="checkbox" name="dvd_video" value="1"></td>
      <td>本革シート<br><input type="checkbox" name="genuine_leather_seats" value="1" checked></td>
    </tr>
    <tr>
      <td>パワーウィンドウ<br><input type="checkbox" name="power_window" value="1"></td>
      <td>CD<br><input type="checkbox" name="cd" value="1"></td>
      <td>純正エアロパーツ<br><input type="checkbox" name="genuine_aero_parts" value="1" checked></td>
    </tr>
    <tr>
      <td>集中ドアロック<br><input type="checkbox" name="central_door_lock" value="1"></td>
      <td>MD<br><input type="checkbox" name="md" value="1"></td>
      <td>純正アルミホイール<br><input type="checkbox" name="genuine_aluminum_wheels" value="1" checked></td>
    </tr>
    <tr>
      <td>エアバッグ<br><input type="checkbox" name="airbag" value="1"></td>
      <td>テレビ<br><input type="checkbox" name="tv" value="1"></td>
      <td>横滑り防止装置<br><input type="checkbox" name="skid_prevention_device" value="1"></td>
    </tr>
    <tr>
      <td>ABS<br><input type="checkbox" name="abs" value="1"></td>
      <td>ナビゲーション<br><input type="checkbox" name="navigaiton" value="1"></td>
      <td>トラクションコントロール<br><input type="checkbox" name="traction_control" value="1" checked></td>
    </tr>
    <tr>
      <td>キーレスエントリー<br><input type="checkbox" name="keyless_entry" value="1" checked></td>
      <td>バックカメラ<br><input type="checkbox" name="back_camera" value="1" checked></td>
      <td>寒冷地帯仕様車<br><input type="checkbox" name="cold_region_specification_car" value="1" checked></td>
    </tr>
    <tr>
      <td>ローダウン<br><input type="checkbox" name="lowdown" value="1"></td>
      <td>電動スライドドア<br><input type="checkbox" name="electric_sliding_door" value="1"></td>
      <td>福祉車両<br><input type="checkbox" name="welfare_cars" value="1"></td>
    </tr>
    <tr>
      <td>ETC<br><input type="checkbox" name="etc" value="1"></td>
      <td>ペット同乗なし<br><input type="checkbox" name="no_pets" value="1"></td>
      <td>限定車<br><input type="checkbox" name="limited_edition_car" value="1" checked></td>
    </tr>
    <tr>
      <td>禁煙車<br><input type="checkbox" name="non_smoking_car" value="1"></td>
      <td>試乗、現車確認可能<br><input type="checkbox" name="test_drive_current_company_confirmation_possible" value="1"></td>
      <td>取扱説明書<br><input type="checkbox" name="instruction_manual" value="1"></td>
    </tr>
    <tr>
      <td>新車時保証書<br><input type="checkbox" name="new_car_warranty" value="1" checked></td>
      <td>スペアタイヤ<br><input type="checkbox" name="spare_tire" value="1"></td>
    </tr>
  </table>
  <input type="file" name="files" id="upload" multiple>
  <button type="submit" style="margin-top: 20px; width: 200px; font-size: 16px; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;">登録</button>
  </form>
  </div>
</section>
