<style>
  * {
      margin: 0;
      padding: 0;
  }

  header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #37358C;
      color: white;
  }

  nav {
      width: 90%;
  }

  nav h2 {
      font-size: 20px;
      font-style: italic;
  }

  .aaa p {
      font-size: 16px;
  }

  .aaa h3 {
      font-size: 22px;
  }

  .ccc {
      display: flex;
      justify-content: space-between;
      padding: 10px 0px;
  }
</style>
<header>
  <nav>
      <h2>Kangarooo★</h2>
  </nav>
</header>
<section style="display: flex; justify-content: space-between; margin: 30px 5%;">
  <div style="width: 20%; border: 1px solid lightgray; border-radius: 5px; box-sizing: border-box; height: 210px;">
    <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/cars">車両管理</a></p>
    <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/users">会員管理</a></p>
    <p><a style="display: flex; align-items: center; padding: 0px 20px; border-bottom: 1px solid lightgray; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/events">開催日管理</a></p>
    <p><a style="display: flex; align-items: center; padding: 0px 20px; height: 50px; color: black; text-decoration: none; font-size: 16px; font-weight: 600;" href="/admin/sales">販売管理</a></p>
  </div>
  <div style=" width: 75%;">
    <%= carList[0].last_name %> <%= carList[0].first_name %>様
    <% for (let car of carList) { %>
      <div>
        落札日:<%= car.created_at?.toLocaleDateString() %>
          落札額:<%= car.successful_bid_price %>円
            <%= car.manufacture_name %> | <%= car.car_model_name %>
                <% if (car.payment_status) { %>
                  <div>
                    支払い済み
                  </div>
                  <% } else { %>
                    <div>
                      未払い
                    </div>
                    <% } %>
      </div>
      <% } %>
    </div>
  </section>