<% for (let i = 0; i < exhibits.length; i++) { %>
<p><%= exhibits[i].start_time %></p>
<p><%= exhibits[i].endtime_time %></p>
<p><%= exhibits[i].manufacture_name %></p>
<p><%= exhibits[i].model_year %></p>
<p><%= exhibits[i].bodytype_name %></p>
<p><%= exhibits[i].car_condition %></p>
<p><%= exhibits[i].number_passengers %></p>
<p><%= exhibits[i].repair_history %></p>
<p><%= exhibits[i].car_inspection_expiration_date %></p>
<p><%= exhibits[i].mileage %></p>
<p><%= exhibits[i].lowest_winning_bid %></p>
<p><%= exhibits[i].bid_price %></p>
<% } %>
