<h1>値だけとってきました</h1>


<h2>自動車基本情報</h2>
<p>メーカー名：<%=values[0].manufacture_name %></p>
<p>車種名：<%=values[0].car_model_name %></p>
<p>排気量：<%=values[0].grade %></p>
<p>年式：<%=values[0].model_year %></p>
<p>輸入車モデル年式：<%=values[0].imported_model_year %></p>
<p>走行距離：<%=values[0].mileage %></p>
<p>走行距離の状態：<%=values[0].mileage_situation %></p>
<p>色系統：<%=values[0].color_name %></p>
<p>色の名称：<%=values[0].color_detail %></p>
<p>車検有効期限：<%=values[0].car_inspection_expiration_date %></p>
<p>ミッション：<%=values[0].mission %></p>
<p>ボディタイプ：<%=values[0].body_type_id %></p>
<p>型式：<%=values[0].model %></p>

<h2>車両詳細情報</h2>
<p>ドア数：<%=values[0].doors %></p>
<p>乗車定員数：<%=values[0].drive_system %></p>
<p>駆動方式：<%=values[0].drive_system %></p>
<p>燃料：<%=values[0].manufacture_name %></p>
<p>点兼記録簿：<%=values[0].Inspection_record_book %></p>
<p>修復歴：<%=values[0].manufacture_name %></p>
<p>車台番号（下3桁）：<%=values[0].chassis_number %></p>
<p>リサイクル預託金：<%=values[0].resycling_deposit %></p>
<p>輸入経路：<%=values[0].importe_route %></p>
<p>ハンドル：<%=values[0].handle %></p>
<p>車歴：<%=values[0].history %></p>
<p>所有者歴：<%=values[0].owner_history %></p>
<p>引き渡し条件：<%=values[0].delivery_conditions %></p>

<h2>装備品</h2>
<p>エアコン：<%=values[0].air_conditioner %></p>
<p>スマートキー：<%=values[0].smart_key %></p>
<p>サンルーフ：<%=values[0].sunroof %></p>
<p>ローダウン：<%=values[0].lowdown %></p>
<p>パワステ：<%=values[0].power_steering %></p>
<p>CD：<%=values[0].cd %></p>
<p>本革シート：<%=values[0].genuine_leather_seats %></p>
<p>禁煙者：<%=values[0].non_smoking_car %></p>
<p>パワーウィンドウ：<%=values[0].power_window %></p>
<p>MD：<%=values[0].md %></p>
<p>純正エアロパーツ：<%=values[0].genuine_aero_parts %></p>
<p>ペット同乗なし：<%=values[0].no_pets %></p>
<p>集中ドアロック：<%=values[0].central_door_lock %></p>
<p>DVDビデオ：<%=values[0].dvd_video %></p>
<p>純正アルミホイール：<%=values[0].genuine_aluminum_wheels %></p>
<p>限定車：<%=values[0].limited_edition_car %></p>
<p>ABS：<%=values[0].abs %></p>
<p>テレビ：<%=values[0].tv %></p>
<p>横滑り防止装置：<%=values[0].skid_prevention_device %></p>
<p>試乗、現車確認可能：<%=values[0].skid_prevention_device %></p>
<p>エアバッグ：<%=values[0].air_bag %></p>
<p>ナビゲーション：<%=values[0].navigation %></p>
<p>トラクションコントロール：<%=values[0].traction_control %></p>
<p>取扱説明書：<%=values[0].instruction_manual %></p>
<p>ETC：<%=values[0].etc %></p>
<p>バックカメラ：<%=values[0].back_camera %></p>
<p>寒冷地帯仕様書：<%=values[0].cold_region_specification_car %></p>
<p>新車時保証書：<%=values[0].new_car_warranty %></p>
<p>キーレスエントリー：<%=values[0].keyless_entry %></p>
<p>電動スライドドア：<%=values[0].electric_sliding_door %></p>
<p>福祉車両：<%=values[0].welfare_cars %></p>
<p>スペアタイヤ：<%=values[0].spare_tire %></p>

<h2>オークションの開始時間：終了時間</h2>
<p>開始時間：<%=values[0].start_time %></p>
<p>終了時間：<%=values[0].endtime_time %></p>
<p>最高入札額：<%=values[0].bid_price %></p>
