<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/destyle.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <title><%=values.car_model_name %></title>
</head>

<body data-barba="wrapper">

    <header>
        <nav>
            <div class="logo"><a href="/">Kangarooo<span>★</span></a></div>
                <form class="search">
                    <button type="button">
                      <svg class="searchIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(0, 0, 0, 1)">
                        <path
                          d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
                        </path>
                        <path
                          d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z">
                        </path>
                      </svg>
                    </button>
                    <input type="text" />
                  </form>
            <div class="profile">
                <% if (isAuth) { %>
                  <a href="/mypage">
                    <%= user.user_name %> 様
                  </a>
                  <% } else { %>
                    <a href="/login">ログイン<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        style="fill: rgba(0, 0, 0, 1);">
                        <path
                          d="M12 3c-4.625 0-8.442 3.507-8.941 8.001H10v-3l5 4-5 4v-3H3.06C3.56 17.494 7.376 21 12 21c4.963 0 9-4.037 9-9s-4.037-9-9-9z">
                        </path>
                      </svg></a>
                    <% } %>
              </div>
            
        </nav>
    </header>
<section id="modalOkArea" class="modalArea">
    <div id="modalOkBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <h1>おめでとうございます！あなたは商品の落札に成功しました。</h1>
        <p>マイページの<a class="link" id="linkCloseModal"href='/mypage'>購入履歴</a>から決済へとお進みください。</p>
      </div>
      <div id="closeOkModal" class="closeModal">
        ×
      </div>
    </div>
  </section>

  <section id="modalNoArea" class="modalArea">
    <div id="modalNoBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <h1>申し訳ございません。あなたはこの商品を落札できませんでした。</h1>
        <p>またの機会をお待ちしております。</p>
      </div>
      <div id="closeNoModal" class="closeModal">
        ×
      </div>
    </div>
  </section>
    
    <div id="center">
        <main data-barba="container">
            <div class="bidModalArea">
                <div class="bidModalBg"></div>
                <div class="bidModalGroup">
                    <div class="bidModalLogo">Kangarooo★</div>
                    <div class="bidModalItems">
                        <div class="bidModalHead">入札額を確認し入札を確定してください。</div>
                        <div class="bidModalItem">
                            <div class="bidTiny">
                                <p class="bidSmallHead">最高入札額</p>
                                <div class="bidModalSum mb"><span id="modalBestPrice"><%=values.bid_price %></span><span class="bidYen">円</span></div>
                            </div>
                            <div class="bidTiny">
                                <p class="bidSmallHead">上乗せした額</p>
                                <div class="bidModalSum"><span id="modalPlusPrice">0</span><span class="bidYen">円</span></div>
                            </div>
                        </div>
                        <div class="bidSumItem">
                            <p class="bidModalSumHead">入札合計額 <span class="bidYenGray"></span></p>
                            <div class="bidModalSum"><span id="modalSumPrice"><%=values.bid_price %></span><span class="bidYen">円</span><span class="bidModalAdd"><span class="bidYen"></span></span></div>
                        </div>
                        <button type="button" class="successButton" id="bid_confirm">入札確定</button>
                    </div>
                </div>
            </div>
            <div class="successModalArea">
                <div class="bidModalBg"></div>
                <div class="successModalGroup">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M9.999 13.587 7.7 11.292l-1.412 1.416 3.713 3.705 6.706-6.706-1.414-1.414z"></path></svg>
                    <p>入札が完了しました。</p>
                </div>
            </div>
            <ul class="pan">
                <li>
                    <a href="/">ホーム</a>
                </li>
                <li>
                    <a href="/auctions/<%=values.eventdate_id %>">タイムテーブル</a>
                </li>
                <li>
                    <p><%=values.car_model_name %></p>
                </li>
            </ul>
            <section id="product">
                <div class="productLeft">
                    <div class="productTop">
                        <div class="productImg">
                            <div class="mySwiper2">
                                <ul class="swiper-wrapper">
                                    <% for (let i=1; i <= fileCount; i++) { %>
                                        <li class="swiper-slide"><img src="/img/<%=values.car_id %>/<%= i %>.png" alt=""></li>
                                        <%=console.log(values.car_id);%>
                                    <% } %>
                                </ul>
                                <div id="arrowNext" class="swiper-button-prev swiper-button-black"></div>
                                <div id="arrowPrev" class="swiper-button-next swiper-button-black"></div>
                            </div>
                            <div class="mySwiper">
                                <ul class="swiper-wrapper">
                                    <% for (let i=1; i <= fileCount; i++) { %>
                                        <li class="swiper-slide"><img src="/img/<%=values.car_id %>/<%= i %>.png" alt=""></li>
                                        <%=console.log(values.car_id);%>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="productInfo">
                            <div class="productHead">
                                <div class="productMaker">
                                    <div class="productLogo"></div>
                                    <div class="productMakerName"><%=values.manufacture_name %></div>
                                </div>
                                <div class="productYear">2016</div>
                            </div>
                            <div class="productName"><%=values.car_model_name %></div>
                            <h3 class="productSpecHead">基本スペック</h3>
                            <div class="productSpec">
                                <div class="productRecords">
                                    <div class="productRecHead">ボディタイプ</div>
                                    <div class="productRecCont">SUV</div>
                                </div>
                                <div class="productRecords">
                                    <div class="productRecHead">カラー</div>
                                    <div class="productRecCont">白</div>
                                </div>
                                <div class="productRecords">
                                    <div class="productRecHead">エンジン種別</div>
                                    <div class="productRecCont">ガソリン</div>
                                </div>
                                <div class="productRecords">
                                    <div class="productRecHead">排気量</div>
                                    <div class="productRecCont">2000cc</div>
                                </div>
                                <div class="productRecords">
                                    <div class="productRecHead">乗車定員</div>
                                    <div class="productRecCont">6名</div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="productBottom">
                        <h3>商品詳細</h3>
                        <section id="productTable">
                            <div class="productTableHead">自動車基本情報</div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">メーカー名</div>
                                    <div class="productTableCI"><%=values.manufacture_name %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">車種名</div>
                                    <div class="productTableCI"><%=values.car_model_name %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">グレード名</div>
                                    <div class="productTableCI">16GT ターボ</div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">排気量</div>
                                    <div class="productTableCI"><%=values.exhaust %>cc</div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">年式</div>
                                    <div class="productTableCI"><%=values.model_year %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">輸入車モデル年式</div>
                                    <div class="productTableCI"><%=values.imported_model_year %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">走行距離</div>
                                    <div class="productTableCI"><%=values.mileage %>km</div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">走行距離の状態</div>
                                    <div class="productTableCI"><%=values.mileage_situation %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">色系統</div>
                                    <div class="productTableCI"><%=values.color_name %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">色の名称</div>
                                    <div class="productTableCI"><%=values.color_detail %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">車検有効期限</div>
                                    <div class="productTableCI"><%=values.car_inspection_expiration_date %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">ミッション</div>
                                    <div class="productTableCI"><%=values.mission %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">ボディタイプ</div>
                                    <div class="productTableCI"><%=values.body_type_id %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">型式</div>
                                    <div class="productTableCI"><%=values.model %></div>
                                </div>
                            </div>
                            <div class="productTableHead">車両詳細情報</div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">ドア数</div>
                                    <div class="productTableCI"><%=values.doors %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">乗車定員数</div>
                                    <div class="productTableCI"><%=values.drive_system %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">駆動方式</div>
                                    <div class="productTableCI"><%=values.drive_system %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">燃料</div>
                                    <div class="productTableCI"><%=values.manufacture_name %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">点検記録簿</div>
                                    <div class="productTableCI"><%=values.Inspection_record_book %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">修復歴</div>
                                    <div class="productTableCI"><%=values.manufacture_name %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">車台番号(下3桁)</div>
                                    <div class="productTableCI"><%=values.chassis_number %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">リサイクル</div>
                                    <div class="productTableCI"><%=values.resycling_deposit %> <span>円</span></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">輸入経路</div>
                                    <div class="productTableCI"><%=values.importe_route %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">ハンドル</div>
                                    <div class="productTableCI"><%=values.handle %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">車歴</div>
                                    <div class="productTableCI"><%=values.history %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH">所有者歴</div>
                                    <div class="productTableCI"><%=values.owner_history %></div>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent">
                                    <div class="productTableCH">引き渡し条件</div>
                                    <div class="productTableCI"><%=values.delivery_conditions %></div>
                                </div>
                                <div class="productTableContent">
                                    <div class="productTableCH"></div>
                                    <div class="productTableCI"></div>
                                </div>
                            </div>
                            
                            <div class="productTableHead">装備品</div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">エアコン</div>
                                    <% if(values.air_conditioner == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.air_conditioner == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">スマートキー</div>
                                    <% if(values.smart_key == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.smart_key == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">サンルーフ</div>
                                    <% if(values.sunroof == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.sunroof == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">ローダウン</div>
                                    <% if(values.lowdown == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.lowdown == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">パワステ</div>
                                    <% if(values.power_steering == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.power_steering == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">CD</div>
                                    <% if(values.cd == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.cd == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">本革シート</div>
                                    <% if(values.genuine_leather_seats == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.genuine_leather_seats == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">禁煙者</div>
                                    <% if(values.non_smoking_car == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.non_smoking_car == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">パワーウインドウ</div>
                                    <% if(values.power_window == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.power_window == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">MD</div>
                                    <% if(values.md == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.md == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">純正エアロパーツ</div>
                                    <% if(values.genuine_aero_parts == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.genuine_aero_parts == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">ペット同乗なし</div>
                                    <% if(values.no_pets == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.no_pets == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">集中ドアロック</div>
                                    <% if(values.central_door_lock == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.central_door_lock == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">DVDビデオ</div>
                                    <% if(values.dvd_video == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.dvd_video == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">純正アルミホイール</div>
                                    <% if(values.genuine_aluminum_wheels == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.genuine_aluminum_wheels == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">限定車</div>
                                    <% if(values.limited_edition_car == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.limited_edition_car == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">ABS</div>
                                    <% if(values.abs == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.abs == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">テレビ</div>
                                    <% if(values.tv == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.tv == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">横滑り防止装置</div>
                                    <% if(values.skid_prevention_device == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.skid_prevention_device == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">試乗・現車確認可能</div>
                                    <% if(values.skid_prevention_device == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.skid_prevention_device == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">エアバッグ</div>
                                    <% if(values.airbag == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.airbag == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">ナビゲーション</div>
                                    <% if(values.navigaiton == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.navigaiton == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">トラクションコントロール</div>
                                    <% if(values.traction_control == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.traction_control == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">取扱説明書</div>
                                    <% if(values.instruction_manual == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.instruction_manual == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">ETC</div>
                                    <% if(values.etc == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.etc == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">バックカメラ</div>
                                    <% if(values.back_camera == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.back_camera == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">寒冷地帯仕様車</div>
                                    <% if(values.cold_region_specification_car == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.cold_region_specification_car == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">新車時保証書</div>
                                    <% if(values.new_car_warranty == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.new_car_warranty == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="productTableContents">
                                <div class="productTableContent4flex">
                                    <div class="productTableCHS">キーレスエントリー</div>
                                    <% if(values.keyless_entry == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.keyless_entry == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">電動スライドドア</div>
                                    <% if(values.electric_sliding_door == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.electric_sliding_door == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">福祉車両</div>
                                    <% if(values.welfare_cars == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.welfare_cars == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                    <div class="productTableCHS">スペアタイヤ</div>
                                    <% if(values.spare_tire == 0){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 11h14v2H5z"></path></svg></div>
                                    <% }else if(values.spare_tire == 1){ %>
                                        <div class="productTableCIS"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg></div>
                                    <% } %>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="productRight">
                        <% if (new Date() < values.start_time) { %>
                            <div class="productStatusSchedule">
                        <% } else if(values.end_time < new Date()) { %>
                            <div class="productStatusEnd">
                        <% } else { %>
                            <div class="productStatus">
                        <% } %>
                        <h3 class="productStatusActive" id="productStatusActive">開催中</h3>
                        <div class="productStatusFlex">
                            <div class="productStatusLeft" id="productStatusLeft">
                                <p class="productLimit" id="productLimit">残り時間</p>
                                <div class="productTime" id="productTime"><span id="hour"></span>：<span id="min"></span>：<span id="sec"></span></div>
                            </div>
                            <div class="productStatusRight">
                                <div>
                                    <div class="productStatusHead">開始時間</div>
                                    <div class="productStatusCont" id="start_time"></div>
                                </div>
                                <div>
                                    <div class="productStatusHead2">終了時間</div>
                                    <div class="productStatusCont2" id="end_time"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="productBid">
                        <div class="bestBid">
                            <p class="bestHead" id="bestHead">最高入札額</p>
                            <div class="bestPrice"><span id="biggest_bid"><%=values.bid_price %></span><span>円</span></div>
                        </div>
                        <div class="bid" id="bid">
                            <p class="bidHead">上乗せする額 <button type="button" class="bidReset" id="clear">クリア <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7 11h10v2H7z"></path><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path></svg></button></p>
                            <div class="bidFlex">
                                <button type="button" class="bidPrice" id="addPrice1" value="10000">10,000 <span>円</span> +</button>
                                <button type="button" class="bidPrice" id="addPrice2" value="30000">30,000 <span>円</span> +</button>
                                <button type="button" class="bidPrice" id="addPrice3" value="50000">50,000 <span>円</span> +</button>
                                <button type="button" class="bidPrice" id="addPrice4" value="100000">100,000 <span>円</span> +</button>
                            </div>
                            <p class="bidHead">入札額 <span> ( + 上乗せした合計額)</span></p>
                            <div class="bidPriceAdd"><span id="bid_price"><%=values.bid_price %></span><span class="yen">円</span><span class="plus">+ <span id="bidPlusPrice">0</span></span></div>
                            <button type="button" class="bidButton" id="bid_submit">入札する</button>
                        </div>
                        <div class="nextBid" id="nextBid">
                            <button type="button">次の競売へ <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z"></path><path d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z"></path></svg></button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    
    <footer></footer>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        var auctionId ='<%= auctionId %>';
        var start_time ='<%= values.start_time %>';
        var end_time ='<%= values.end_time %>';
        var user_id ='<%= user.id %>';
        var fileCount = '<%= fileCount %>';
        console.log(fileCount);
    </script>
    <script src="/js/auctionItem.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js" ></script>
    <script src="/js/barba.js"></script>
    <script src="/js/bidModal.js"></script>
    </body>
</html>
